Assignments/task 7/task_descripiton.txt
Assignments/task 7/__pycache__/file_handler.cpython-313.pyc
Assignments/task 7/__pycache__/operation_handler.cpython-313.pyc
Assignments/task 7/__pycache__/file_handler.cpython-313.pyc
Assignments/task 7/__pycache__/operation_handler.cpython-313.pyc
Assignments/task 9/task_description.txt
Assignments/task 9/student_utils/__pycache__/__init__.cpython-313.pyc
Assignments/task 9/student_utils/__pycache__/arithmetic.cpython-313.pyc
Assignments/task 9/student_utils/__pycache__/performance.cpython-313.pyc
Assignments/task 9/student_utils/__pycache__/attendance.cpython-313.pyc
